body {
  text-align: center;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-family: 'Bellefair', serif;
  font-size: 150px;
}
h2 {
  font-family: 'Bellefair', serif;
  font-size: 100px;
  margin: 3% auto;
}

h3 {
  font-size: 58px;
  font-family: 'Bellefair', serif;
}

h4 {
  font-family: 'Bellefair', serif;
  font-size: 32px;
}

h5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
  letter-spacing: 5.1px;
  line-height: 19.6px;
  font-weight: 300;
  color: #D0D6F9;
}
.inner-text:hover {
  border-style: none none solid;
  border-color: #85868b;
  border-width: 5px;
}
h6 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
}

p {
  color: #D0D6F9;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

/* css style */
#content {
  margin: 3% 5% 3% 5%;
}

.btn {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-family: 'Bellefair';
  font-size: 25px;
  background-color: #FFF;
  border-style: none;
  margin: 17% auto 0px;
}

.btn:hover {
  box-shadow: 0px 0px 0px 46px rgba(128, 128, 128, 0.5);
  -webkit-box-shadow: 0px 0px 0px 46px rgba(128, 128, 128, 0.5);
  -moz-box-shadow: 0px 0px 0px 46px rgba(128, 128, 128, 0.5);
}

/* For mobile phones: */
@media only screen and (min-width: 0px) and (max-width: 480px) {
  body {
    background-image: url("assets/home/background-home-mobile.jpg");
    background-size: auto;
    text-align: center;
    color: #FFFFFF;
  }

  .active {
    border-style: none solid none none;
    border-color: #fff;
    border-right-width: 5px;
  }

  /* header style */
  .header-nav {
    display: flex;
  }

  .header-logo {
    margin: 2% auto 2% 3%;
  }

  .header-nav-text {
    margin: 4% 4% 2% auto;
  }

  .subheading1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.35;
  }

  .header-nav-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 2.7px;
  }

  /* thats the header style above */
  /* header nav bar */
  .container {
    display: inline-block;
    cursor: pointer;
  }

  .change .bar0 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    background-color: rgba(128, 128, 128, 0);
    backdrop-filter: blur(35px);
  }

  .toggle {
    margin: 8% 8% auto auto;
    display: table;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }

  .text {
    display: none;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .change .text {
    display: block;
    text-align: left;
    margin: 30% auto auto 0;
  }

  .inner-text {
    padding: 6%;
    list-style-type: none;
  }

  .inner-text:hover {
    border-style: none solid none none;
    border-color: gray;
    border-right-width: 5px;
  }
}

/* For tablets:  */
@media only screen and (min-width: 481px)and (max-width: 912px) {
  body {
    background-image: url("assets/home/background-home-tablet.jpg");
    background-size: auto;
    text-align: center;
    color: #FFFFFF;
  }

  b {
    display: none;
  }

  .container {
    background-color: #151923;
    margin: 0 0 0 auto;
  }

  .header-nav {
    display: flex;
  }

  .header-logo {
    margin: 2% auto 2% 3%;
  }

  .subheading1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.35;
  }

  .header-nav-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.7px;
  }

  .text {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 30px;
    padding-right: 20px;
  }

  .inner-text {
    padding: 30px 10px;
    margin: 5px;
    list-style-type: none;
    display: inline-block;
  }

  .active {
    border-style: none none solid;
    border-color: #FFF;
    border-width: 5px;
  }

  /* content section */
  #content {
    margin: 120px 25% 100px;
  }

  /* button section */
  .btn {
    width: 242px;
    height: 242px;
    font-size: 32px;
  }
}

/* For desktop: */
@media only screen and (min-width: 913px) and (max-width: 2000px) {
  body {
    background-image: url("assets/home/background-home-desktop.jpg");
    background-size: auto;
    text-align: center;
    color: #FFFFFF;
  }
  h5 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.72px;
    font-weight: 400;
    color: #D0D6F9;
  }
  .bar1 {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    position: absolute;
    width: 75%;
    top: 40%;
    border-color: gray;
    left: -74%;
  }

  .container {
    margin: 15px 0 0 0;
    width: 100%;
  }

  .bar0 {
    background-color: rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(35px);
    margin: 0;
  }

  .header-nav {
    display: flex;
  }

  .header-logo {
    margin: 3.4% 40% auto 3%;
  }

  .subheading1 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.35;
  }

  .header-nav-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    letter-spacing: 2.7px;
  }

  .text {
    margin-bottom: 0;
    padding-left: 0;
  }

  .inner-text {
    padding: 30px 10px;
    margin: 0 5px;
    list-style-type: none;
    display: inline-block;
  }

  .active {
    border-style: none none solid;
    border-color: #FFF;
    border-width: 5px;
  }
  .parent{
    margin-top: 150px;
    display: flex;
    width: 50%
  }
  .child {
    flex: 1;
  }
  #content {
    padding-left: 9%;
    margin: 0 70% 0 10%;
    text-align: left;
  }
  #button {
    margin: 10%;
  }
  .btn {
    width: 274px;
    height: 274px;
    margin-top: 0;
    margin-right: 10%;
   font-size: 34px;
  }
}
